<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ymow_orderedproducts" frontName="ymow_orderedproducts">
            <module name="Ymow_OrderedProducts"/>
        </route>
    </router>
</config>
